.checkout-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  transition: all 2s ease-in-out;
}

.checkout-modal-content {
  width: 37vw;
  background-color: rgb(247, 250, 253);
  height: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 3rem;
}
.checkout-modal-content .close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.checkout-modal-content .close-btn .close {
  font-size: 25px;
  color: #00302e;
  cursor: pointer;
}

.checkout-modal-content h1 {
  font-weight: 600;
  font-size: 17px;
  color: #00302e;
  margin-top: 2rem;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93%;
  margin: 2rem auto;
}

.checkout-form input {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.83);
  border: 1px solid rgba(251, 221, 187, 0.51);
  border-radius: 5px;
  margin-top: 2rem;
  padding-left: 20px;
  letter-spacing: 0.6px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 48, 46, 0.53);
}

.checkout-form .cardPay-btn {
  width: 100%;
  height: 3.5rem;
  background: #00302e;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #f3c294;
  margin: 2rem auto 0rem;
  cursor: pointer;
  display: block;
  border: none;
}

.checkout-form .errors {
  font-size: 0.7rem;
  color: red;
}

.checkout-form .cardPay-btn:active {
  background-color: #f3c294;
  color: #00302e;
}

@media screen and (max-width: 1024px) {
  .checkout-modal-content {
    width: 65vw;
  }
}

@media screen and (max-width: 600px) {
  .checkout-modal-content {
    width: 100vw;
  }
}
