.products {
  position: relative;
}

.products header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 0 2.5rem;
  margin-bottom: 3rem;
}

.products .user {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  object-position: top;
  filter: grayscale(0.3);
  z-index: 0;
}

.products p {
  font-weight: 600;
  font-size: 23px;
  color: #00302e;
}

.products p span {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.69);
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .products header {
    margin-top: 1rem;
    padding: 0px 0.8rem;
  }
  .products p span {
    font-size: 13px;
  }
  .products p {
    font-size: 23px;
  }
  .products .user {
    height: 3rem;
    width: 3rem;
  }
}
