.orders-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 2s ease-in-out;
}
.orders-modal-content {
  width: 45vw;
  background-color: rgb(247, 250, 253);
  height: 100vh;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.orders-modal-content h1 {
  font-weight: 600;
  font-size: 17px;
  color: #00302e;
}

.orders-modal-content .close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.orders-modal-content .close-btn .close {
  font-size: 25px;
  color: #00302e;
  cursor: pointer;
}

.orders-modal-content .orders {
  display: grid;
  width: 100%;
  grid-template-columns: 50% repeat(3, 20%);
  font-weight: 500;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.69);
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.orders-items {
  display: grid;
  width: 100%;
  grid-template-columns: 50% repeat(3, 20%);
  margin-bottom: 2rem;
}

.orders-items .orders-item-image {
  display: flex;
  align-items: center;
}

.orders-item-image div {
  padding-left: 0.5rem;
}

.orders-items .orders-item-image .orders-item-name {
  font-weight: 600;
  font-size: 17px;
  color: #00302e;
}

.orders-items .orders-item-image .orders-remove-btn {
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: #c92c33;
}

.orders-items .orders-item-image .orders-remove-btn:active {
  color: rgb(122, 32, 32);
}

.orders-items .orders-item-quantity,
.orders-items .orders-item-price,
.orders-items .orders-item-status {
  margin-top: 1.5rem;
}

.orders-items .orders-item-quantity,
.orders-items .orders-item-price {
  font-weight: 700;
  font-size: 17px;
  color: #00302e;
}

.orders-items .orders-item-status {
  font-weight: 500;
  font-size: 15px;
  color: #3a8f4d;
}

@media screen and (max-width: 1024px) {
  .orders-modal-content {
    width: 65vw;
  }

  .orders-items {
    display: grid;
    grid-template-columns: 47% repeat(3, 20%);
  }

  .orders-items .orders-item-image {
    display: block;
  }

  .orders-modal-content .orders {
    display: grid;

    grid-template-columns: 47% repeat(3, 20%);

    font-size: 13px;
  }
  .orders-items .orders-item-quantity,
  .orders-items .orders-item-price {
    font-weight: 700;
    font-size: 15px;
    color: #00302e;
  }
}

@media screen and (max-width: 600px) {
  .orders-modal-content {
    width: 100vw;
  }
  .orders-modal-content .orders {
    display: grid;
    grid-template-columns: 45% repeat(3, 22%);
    font-size: 13px;
  }

  .orders-items {
    display: grid;
    grid-template-columns: 45% repeat(3, 22%);
  }

  .orders-items .orders-item-quantity,
  .orders-items .orders-item-price {
    font-weight: 700;
    font-size: 13px;
    color: #00302e;
  }

  .orders-items .orders-item-status {
    font-weight: 500;
    font-size: 13px;
    color: #3a8f4d;
  }
}
