.register-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.register-section .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
      rgba(226, 184, 135, 0.4),
      rgba(226, 184, 135, 0.4)
    ),
    url("../assets/Auth/register-img.svg");
  background: linear-gradient(
      rgba(226, 184, 135, 0.4),
      rgba(226, 184, 135, 0.4)
    ),
    url("../assets/Auth/register-img.svg"); /* The least supported option. */
  background-size: cover;
}

.register-section .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.register-section .contentBx .signup-form {
  width: 50%;
}

.register-section .contentBx .signup-form h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.688rem;
  color: #00302e;
  text-align: center;
}

.register-section .contentBx .signup-form input {
  height: 3.2rem;
  text-indent: 1.2rem;
  margin-top: 2.3rem;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid rgba(251, 221, 187, 0.51);
  font-size: 0.875rem;
  color: rgba(0, 48, 46, 0.53);
}

.register-section .contentBx .signup-form .password {
  display: flex;
}

.register-section .contentBx .signup-form .password input {
  border-right: none;
}

.register-section .contentBx .signup-form .errors {
  font-size: 0.7rem;
  color: red;
}

.register-section .contentBx .signup-form .password .show-btn {
  height: 3.2rem;
  margin-top: 2.3rem;
  border: 1px solid rgba(251, 221, 187, 0.51);
  background: transparent;
  cursor: pointer;
  color: #00302e;
  border-left: none;
  padding-right: 20px;
  background: #fff;
}

.register-section .contentBx .signup-form .submit {
  width: 100%;
  height: 3.2rem;
  cursor: pointer;
  margin-top: 2.3rem;
  font-weight: 500;
  color: #fbddbb;
  letter-spacing: 1.4px;
  border: none;
  background: #00302e;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.register-section .contentBx .signup-form .submit:hover {
  background: #fbddbb;
  color: #00302e;
}

.register-section .contentBx .signup-form .already {
  text-align: center;
  margin-top: 2rem;
  color: rgba(0, 48, 46, 0.91);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.register-section .contentBx .signup-form .already span {
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .register-section .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .register-section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .register-section .contentBx .signup-form {
    width: 100%;
    padding: 40px;
    background: rgb(255 255 255 / 0.9);
    margin: 50px;
  }
}
